@import "https://fonts.googleapis.com/css?family=Roboto&display=swap";

*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}
html body {
    height: 100%;
}
body {
    background: #780fbe;
    font-family: 'Roboto', sans-serif;
}
header {
    padding: 30px;
    text-align: center;
    background: #760fbe;
    border-bottom: 5px solid #750fbe;
}   
header div a {
    margin: 0px 30px;
    color: white;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;             
}
header div a:hover {
    color: #50fa7b;
    transition: 500ms;
}
p {
    margin: 0px;
    color: #50fa7b;
    font-size: 11px;
    text-align: end;
}
.fim {
    position: absolute;
    bottom: 0px;
    width: 99%;
}
